h1 {
  font-size: 100px;
}

#background {
  background: #000;
  position: absolute;
  margin: 0;
	display: block;
  z-index: -2;
  left: 0
}


#easel {
  /*border: 1px solid #a9a9a9;*/
  /*margin: 0 auto;*/
  display: block;
  margin: 0;
  position: absolute;
  left: 0;
}

header {
  display: block;
  position: relative;
  height: auto;
  margin-bottom: 30px;
}

.titles {
  float: left;
  display: flex;
  flex-direction: column;
}

.gameplay {
  float: left;
  box-sizing: border-box;
  padding: 25px;
  margin: 0;
  width: 100%;
}

.presets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.preset {
  margin: 5px 5px 0 0;
  float: left;
  width: 35px;
  height: 35px;
  border: 2px solid black;
}

.game-container {
  height: calc(100vh - 90px);
  width: calc(100vw - 50px);
  margin: 0 auto;
}

.canvas-container {
  position: relative;
	display: block;
  margin: 180px auto;
}

@media (min-width: 460px ) {
  .presets {
    display: flex;
    flex-wrap: wrap;
    width: 135px;
  }

  .preset {
    margin: 5px 5px 0 0;
    float: left;
    width: 35px;
    height: 35px;
    border: 2px solid black;
  }

  .gameplay {
    width: 220px;
  }

  .canvas-container {
    margin: 0 auto;
    margin-left: 100px;
  }

  .game-container {
    margin: 0 auto;
    width: calc(100vw - 180px);
    height: calc(100vh - 120px);
  }
}

.presets-container {
  margin-top: 20px;
}

.group:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.hidden {
  display: none;
}

#random-text {
  transform: rotate(-45deg) translate(-11px, 7px);
  font-size: 11px;
  display: block;
  font-weight: 700;
  cursor: default;
}

.instructions-container {
  width: 100%;
}

.instructions {
  float: left;
  width: 95%;
  bottom: 0;
  right: 0;
  margin-top: 20px;
  min-width: 400px;
}

@media (min-width: 1075px ) {
  .gameplay {
    position: absolute;
    top: 0;
    left: 280px;
  }

  .instructions,
  .instructions-container {
    float: right;
    min-width: 630px;
  }

  .instructions-container {
    width: calc(95% - 390px);
  }

  .instructions {
    width: 100%;
  }

  #background,
  #easel {
    left: auto;
  }

  .canvas-container {
    margin: 0 auto;
    margin-left: 100px;
  }

  .game-container {
    margin: 0 auto;
    width: calc(100vw - 80px);
    height: calc(100vh - 120px);
  }

  .canvas-container {
    margin: 0 auto;
  }
}
