h1 {
  font-size: 100px;
}

.canvas-container {
  position: relative;
  margin: 0 auto;
	display: flex;
	justify-content: center;

}

#background {
  background: #000;
  position: absolute;
  margin: 0;
	display: block;
  z-index: -2;
  left: 0
}


#easel {
  /*border: 1px solid #a9a9a9;*/
  /*margin: 0 auto;*/
  display: block;
  margin: 0;
  position: absolute;
  left: 0;
}

header {
  display: block;
  position: relative;
  height: 145px;
  margin-bottom: 30px;
}

.titles {
  float: left;
  display: flex;
  flex-direction: column;
}

.gameplay {
  float: left;
  box-sizing: border-box;
  padding: 25px;
  margin: 0;
  width: 220px;
}

.preset {
  margin: 5px 5px 0 0;
  float: left;
  width: 25px;
  height:25px;
  border: 2px solid black;
}

.presets-container {
  margin-top: 20px;
}

.group:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.hidden {
  display: none;
}

#random-text {
  transform: rotate(-45deg) translate(-9px, 5px);
  font-size: 8px;
  display: block;
  font-weight: 700;
  cursor: default;
}

.instructions {
  float: right;
  width: calc(95% - 280px);
  min-width: 650px;
  bottom: 0;
  right: 0;
  position: absolute;
}

@media (min-width: 1075px ) {
  .gameplay {
    position: absolute;
    top: 0;
    left: 280px;
  }


  .instructions {
    width: calc(95% - 390px);
  }

  #background,
  #easel {
    left: auto;
  }
}
